name: Deploy Laravel to Amazon Linux

on:
  push:
    branches: [ "master" ] # Déclenche le déploiement lors d'un push sur main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Write SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Connexion SSH et déploiement
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key_path: ~/.ssh/id_rsa
          script: |
            cd /usr/share/nginx/html/mwinda
            git fetch origin master
            git reset --hard origin/master
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

