name: Deploy Laravel to Ubuntu

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configuration de SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Déploiement via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} << 'EOF'
            set -e
            cd /usr/share/nginx/html/mwinda
            
            # Mise à jour du code
            git fetch origin master
            git reset --hard origin/master
            
            # Installation des dépendances (si nécessaire)
            # composer install --no-dev --optimize-autoloader
            
            # Mise à jour de Laravel
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            
            # Nettoyage des permissions (Optionnel mais recommandé sur Ubuntu)
            # sudo chown -R www-data:www-data storage bootstrap/cache
          EOF